@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #202020;
  font-family: 'Krub', sans-serif;
}

.card {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 50px;
  width: 250px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
  float: left;
}
.ds-top {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 250px;
    height: 100px;
	background: #6be0f3;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
	animation: dsTop 1.5s;
 }

.container {
  height: 100%;
  width: 100%;
  display: flex;
}
.card-2 {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 25em;
  width: 250px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
}

.card-3 {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 25em;
  width: 250px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
}

.object {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 50px;
  left: 25px;
  opacity: 0.7;
}
.ds-top-3 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 250px;
    height: 100px;
	background: #6be0f3;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
	animation: dsTop 1.5s;
 }

.tf {
  position: absolute;
  max-width: 100px;
  max-height: 150px;
  top: 10px;

}
.yolo {
  position: absolute;
  max-width: 50px;
  max-height: 75px;
  top: 25px;
  left: 45%;
}

.keras {
  position: absolute;
  max-width: 25px;
  max-height: 25px;
  top: 25px;
  left: 78%;
}

.opencv{
  position: relative;
  max-width: 100px;
  max-height: 80px;
  top: 110px;
  left: 80px;
  opacity: 0.7;
}
  .avatar-holder {
    position: absolute;
    margin: auto;
    top: 40px;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,;
    background: #e7e7e7;
    overflow: hidden;
    animation: mvTop 1.5s;
  }
  .avatar-holder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .name {
    position: absolute;
    margin: auto;
    top: -60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
  }
  .name a {
	color: #e7e7e7;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
  }
  .tname {
    position: absolute;
    margin: auto;
    top: -60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
  }

  .intro {
    position: absolute;
    margin: auto;
    top: -60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
  }

.tname a {
  color: #e7e7e7;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  }

.tname a:hover {
  text-decoration: underline;
  color: #6be0f3;
}
.tname h6 {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: -5px;
	color: #9900ff;
	width: 200px;
}

.name a:hover {
  text-decoration: underline;
  color: #6be0f3;
}
.name h6 {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: -5px;
	color: #e7e7e7;
	width: 200px;
}
.button {
	position: absolute;
	margin: auto;
	padding: 8px;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	width: inherit;
	height: 40px;
	text-align: center;
	animation: fadeIn 2s ease-in;
	outline: none;
}
.button a {
	padding: 5px 20px;
	border-radius: 10px;
	color: #151515;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-size: 10px;
	background: #6be0f3;
	transition: all 1s;
}
.button a:hover {
	color: #151515;
	background: #9900ff;
	}

.pens, .projects, .posts {
	position: relative;
	left: -300px;
	width: calc(250px / 3);
	text-align: center;
	color: #e7e7e7;
	animation: fadeInMove 2s;
	animation-fill-mode: forwards;
}

.ds-info {
    position: absolute;
    margin: auto;
    top: 120px;
    bottom: 0;
    right: 0;
    left: 0;
    width: inherit;
    height: 40px;
    display: flex;
}
.ds-info h6 {
	text-transform: uppercase;
	color: #6be0f3;;
}
.ds-info p {
	font-size: 12px;
  }
.ds:nth-of-type(2) {
	animation-delay: .5s;
}
.ds:nth-of-type(1) {
	animation-delay: 1s;
}

.ds-skill {
	position: absolute;
	margin: auto;
	bottom: 40px;
	right: 0;
	left: 0;
	width: 200px;
	height: 120px;
	animation: mvBottom 1.5s;
}
.ds-skill h6 {
	margin-bottom: 5px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6be0f3;;
  }
.skill  h6 {
	font-weight: 400;
	font-size: 8px;
	letter-spacing: 0.05em;
	margin: 4px 0;
	color: #e7e7e7;
}
.fab {
	color: #6be0f3;;
	font-size: 14px;
}
.bar {
	height: 5px;
	background: #6be0f3;;
	text-align: right;
}
.bar p {
	color: #e7e7e7;
	font-size: 8px;
	padding-top: 5px;
	animation: fadeIn 5s;
  }
.bar:hover {
	background: #e7e7e7;
}
.bar-html {
  width: 95%;
  background-color: #4B8BBE;
	animation: htmlSkill 1s;
	animation-delay: .4s;
}
.bar-css {
  width: 90%;
  background-color: #FFE873;
	animation: cssSkill 2s;
	animation-delay: .4s;
}
.bar-dl {
  width: 90%;
  background-color: #9900ff;
	animation: jsSkill 3s;
	animation-delay: .4s;
}
.bar-cpp {
  width: 70%;
  background-color: #74b1be;
	animation: elcSkill 3s;
	animation-delay: .4s;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes htmlSkill {
  0% {width: 0;}
  100% {width: 95%;}
}

@keyframes cssSkill {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes jsSkill {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes elcSkill {
  0% {width: 0;}
  100% {width: 70%;}
}

@keyframes mvBottom {
  0% {bottom: -150px;}
  100% {bottom: 10px;}
}

@keyframes mvTop {
  0% {top: -150px;}
  100% {top: 40px;}
}

@keyframes dsTop {
  0% {top: -150px;}
  100% {top: 0;}
}

.following {
  color: #151515 !important;
  background: #6be0f3;;
}

.social a {
	font-size: 1em;
	font-weight: bold;
	bottom: -5px;
	color: #9900ff;
}

